[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
harvesters = "==1.3.8"
opencv-python = "==4.5.3.56"
nuitka = "*"
zstandard = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
autopep8 = "*"

[requires]
python_version = "*"
