[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
harvesters = "*"
ipykernel = "*"
opencv-python = "*"
nuitka = "*"
zstandard = "*"
ordered-set = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
