[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
harvesters = "*"
opencv-python = "*"
nuitka = "*"
zstandard = "*"
tdqm = "*"
ordered-set = "*"
types-pyyaml = "*"
pyyaml = "*"
pexpect = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.10"
